<!doctype html>
<html>
  <head>
    <title>Dynamic map drawing</title>
    <!-- I used the idea for grid containers given in this post:
    https://coder-coder.com/display-divs-side-by-side/ -->
    <style>
      .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 4px;
      }
    </style>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type = "text/javascript" 
            src = "{{ url_for('static', filename = 'index.js') }}" ></script>
  </head>
  <body>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <h1>Dynamic map drawing</h1>
    <p>This is a web interface to the program <tt>map-app.py</tt>
      which draw maps and saves them as images.  It is meant to
      demonstrate how we can dynamically display a sequence of images
      loaded from a map.</p>
    <h2>Parameters</h2>
    <p>You can either enter a single location to be drawn on the map,
      or upload a file with whitespace-separated columns of (lon, lat)
      pairs, and then the program will draw a trajectory between
      them.</p>
    <hr>
    <div class="grid-container">
      <div class="grid-child purple">
        <h3>Run with input from an uploaded file</h3>
        <p>(This file should have two columns for longitude and
          latitude.  It can have <tt>#</tt> comments.)</p>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="filename"></p>
          <p><input type = "button" id="Submit"
                    onclick="run_with_file_input()" value = "RunOnFile" /></p>
        </form>
      </div>

      <div class="grid-child green" id="sequence_div">
        <h3>Sequence run</h3>
        <form action = "/run/coord_progression.dat" method = "post" id="sequence_form">
          <p>Number of points: <input type = "text" name = "n_points"
                                      value="10" id="n_points" /></p>
          <p><input type = "button" id="sequenceRunButton"
                    onclick="run_sequence_run()" value = "SequenceRun" /></p>
        </form>
      </div>
      <div class="grid-child yellow">
        <h3>Single location</h3>
        <form action = "/single_point/" display = "inline">
          <p>Coordinates:</p>
          <p>lon: <input type = "text" name="longitude" value = "0" /></p>
          <p>lat: <input type = "text" name="latitude" value = "0" /></p>
          <p><input type = "button" id="singlePointButton"
                    onclick="run_single_point()" value = "SinglePoint" /></p>
        </form>
      </div>
    </div>
    <hr>
    <div id="current_map">
      <img src="static/empty_map.svg" alt="static/empty_map.svg">
    </div>
  </body>
</html>
